/* poppins-font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* inter-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');
/* manrope-font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
}

/* :root {
    --primary-text-color: #3A3A3A;
} */

/* header-section */
header {
    margin-top: 50px;
}

.header-container {
    width: 1200px;
    max-width: 85%;
    margin: 0 auto;

}

.site-logo {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

header ul li a {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

header ul li {
    list-style: none;
    margin-right: 30px;
}

header ul li:last-child {
    margin-right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;

}

.fa-magnifying-glass {
    font-size: 1.2rem;
}

.fa-cart-shopping {
    font-size: 1.4rem;
}

/* .banner-section  */

.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.banner-title {
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 70px;
}

.banner-description {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.banner-content {
    max-width: 582px;
}

.banner-btn {
    border-radius: 40px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}
.fa-arrow-right{
    margin-left: 8px;
}
.banner-img {
    background: url('../images/Circle\ design.svg');
    background-position: center;
    background-size: cover;
}

/* sponsors-section */
.sponsors-section{
    margin-top: 60px;
}
.sponsors-container{
    width: 990px;
    max-width: 70%;
    margin: 0 auto;
    
}
.sponsors-item{
    display: flex;
    justify-content: space-between;
}


/* responsive with media-queries  */

@media only screen and (max-width: 576px) {
    nav ul{
        display: none;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2.1rem;
        line-height: 48px;
    }
    .site-logo{
        margin: 0 auto;
    }
    .sponsors-item{
        flex-wrap: wrap;
        gap: 5px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 992px){
    nav ul{
        display: none;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2.1rem;
        line-height: 48px;
    }
    .site-logo{
        margin: 0 auto;
    }
    .sponsors-item{
        flex-wrap: wrap;
        gap: 5px;
    }
}